/* CSS files add styling rules to your content */

body {
    background-color: #E7EFC5;
    margin: 0 auto;
    border-radius: 20px;
    padding: 50px;
  }
  header {
    background-color: #A3C4BC;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    font-size: 1.5em;
  }
  .image {
    float: right;
    margin: 70px;
  
    box-shadow: 0 0 50px grey;
  }
  h1 {
    font-family: 'Monda', sans-serif;
    font-weight: bold;
    color: #413C58;
    width: 100%;
    padding: 10px;
  }
  h2 {
    margin: 80px;
    font-family: 'Monda', sans-serif;
    border-bottom: 1px solid grey;
  }
  ul {
    margin: 80px;
    margin-top: -65px;
  }
  footer {
    padding: 10px;
    background-color: #A3C4BC;
    text-align: center;
    border-radius: 20px;
    margin-top: -50px;
  }
  