@media only screen and (min-width: 64rem) {
nav button {
    display: none;
}
nav ul.hide {
    display: block;
}
nav ul {
    margin-left: 0;  
}
nav ul li {
    float: left;
}
nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .6rem 1rem;       
}
.logo-box {
    float: left;
    margin: 20px 0 0 60px;
} .map {
    display: block;
    float:left;
    margin-top: 90px;
    margin-left: 100px ;
}
.smallmap {
    display: none;
}
.bigmap {
    display: block;
    float: left;
    margin-top: 1px;
    margin-left: 50px;
}
 
/*div.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    margin: 20px auto;
    border: 4px solid #4c2c72;
  }*/
  ul.boxes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      font-size: 1.7em;
  }
  .box1 {
      display: absolute;
      align-items: center;
      border: 3px solid #4c2c72;
      text-align: center;
      
  }
  .events {
    position: absolute;
    top: 0;
    margin-bottom: 20px;
    left: 70px;    
    background: antiquewhite;
    border: 3px solid #4c2c72;
    padding: .5rem;
    box-shadow: 0 0 30px #999;
}
.eventimg {
    display: block;
}
.flyer {
   display: block;
   margin: auto;
   max-width: 75%;
   max-height: 1900px;
   border: 4px solid black;
   background-color: #4c2c72;
   color: antiquewhite;
   padding-bottom: 40px;
}
.flyerart {
    display: block;
    text-align: center;
    margin: 50px 50px 50px 50px;
}
.flyerimg {
    float: left;
    margin-right: 30px;
} 
.weathersummary {
    position: relative;
    max-width: 58.4%;
    margin-left: 20px; 
    margin-top: 35px;
    background-color: rgb(238, 234, 234);
    padding: .5rem;
}
  .threeday {
    background-color: rgb(238, 234, 234);
    max-width: 60%;
    margin-left: 20px;
} 
.homepage-info {
    max-width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 2.2em;
}

.adone {
    position: absolute;
    max-width: 110%;
    top: 485px;
    right: 15px;
    padding: .5rem;    
}
.adtwo {
    position: absolute;
    max-width: 35%;
    top: 785px;
    right: 15px;
    padding: .5rem;
}
.adthree {
    position: absolute;
    max-width: 35%;
    top:1105px;
    right: 15px;
    border: 4px solid #4c2c72;
}
div.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    margin: 20px auto;
  }
}