@media only screen and (min-width: 34.5em) {
.navigation {
    display: flex;
 }
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto; 
 }
.nav li {
    max-width: 100%;
 }
.navigation a {
    text-align: center;
 }
.navigation li:first-child {
    display: none;
 }
 .logo-box {
     float: left;
    margin: 40px 0 0 60px;
}
.map {
    display: block;
    float:left;
    margin-top: 90px;
    margin:auto;
}
.smallmap {
    display:block;
    float: left;
    margin-top: 90px;
    margin: auto;
}
.bigmap {
    display: none;
}
.contact {
    align-items: center;
}
.contact-center {
    display:block;
    margin-top: 80px;
    text-align: center;
}*/
/* home and city page */
.weathersummary {
    display: block;
    max-width: 75%; 
    margin: auto;
    margin-top: 35px;
    background-color: rgb(238, 234, 234);
    padding: .5rem;
}
.threeday {
    background-color: rgb(238, 234, 234);
    max-width: 75%;
    margin: auto;
} 
.homepage-info {
    max-width: 70%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    font-size: 2.2em;
}
 ul.boxes {
    margin: .5rem auto;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .boxone {
    display: block;
    align-items: center;
    text-align: center;
    border-right: 6px solid #4c2c72;
    border-left:  6px solid #4c2c72;
    
}
  .events {
    position: absolute;
    top: 0;
    margin-bottom: 100px;
    left: 70px;    
    background: antiquewhite;
    border: 3px solid #4c2c72;
    padding: .5rem;
    box-shadow: 0 0 30px #999;
}
  .eventimg {
      display: none;
  }
  .flyer {
    display: block;
   margin: auto;
   max-width: 75%;
   max-height: 1900px;
   border: 4px solid black;
   background-color: #4c2c72;
   color: antiquewhite;
}
.flyerart {
    display: block;
    text-align: center;
    margin: 50px 50px 50px 50px;
}
.flyerimg {
    float: left;
}
/*section .cards {
    margin: .5rem auto;
    border:1px solid #bbb;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
  }*/
  div.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    margin: 15px auto;
  }
  .cards img {
      max-width: 100px;
  }

}