 
 h1 {
    font-family: 'Volkhov', serif;
    text-align: center;
    font-size: 3em;
}
section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    justify-items: center;
    align-items: center;
}

section img[data-src] {
    filter: blur(0.2em);
  }
  
  section img {
    filter: blur(0em);
    transition: filter 1.5s;
  }
  