
    
    @media only screen and (min-width: 32.5em) {
        .navigation {
            display: flex;
        }
        .navigation li {
            display: block; /* change state in small view */
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: center;
        }
        .navigation li:first-child {
            display: none;
        }
        .mediumimage {
            display: block;
        }
        .smallimage {
            display: none;
        }
        .largeimage {
            display: none;
        }
         .weatherimages {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
    }div.cards{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 15px;
        text-align: center;

        
      margin: .5rem auto;
        border:1px solid #bbb;
      background-color: #eee;
        display: flex;
        flex-wrap: wrap;
    }
    
    article {
      display: flex;
        flex-direction: row;
    }
    
    article:nth-child(odd) {
        flex-direction: row-reverse;
    }