@media only screen and (min-width: 64rem) {

    nav button {
        display: none;
    }
    nav ul.hide {
        display: block;
    }
    nav ul {
        margin-left: 0;
        
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .6rem 1rem;       
    } 
    .map {
        display: block;
        float:left;
        margin: 0 15px 15px 15px;
        box-shadow: 0 0 30px #A3C4BC;
    }
    .top {
        margin-bottom: 50px;
    }
    /*
    .smallimage {
        display: none;
    }
    .mediumimage {
        display: none;
    }
    .largeimage {
        display: block;
        max-width: 1200px;
    }*/
    .weatherimages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      div.cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        text-align: center;
        margin: 20px auto;
      }
      article {
          display: grid;
          grid-template-columns: 1fr;
          border: 3px solid #19647E;
          text-align: center;
          padding: 15px;
      }
      .cards img {
          align-content: center;
      }
      .tName {
          text-align: center;
      }
     

     
}