
    
    @media only screen and (min-width: 32.5em) {
        .navigation {
            display: flex;
        }
        .navigation li {
            display: block; /* change state in small view */
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: center;
        }
        .navigation li:first-child {
            display: none;
        }
        .map {
            display: block;
            float:left;
            margin: 0 15px 15px 15px;
            box-shadow: 0 0 30px #A3C4BC;
        }
        .mediumimage {
            display: block;
        }
        .smallimage {
            display: none;
        }
        .largeimage {
            display: none;
        }
         .weatherimages {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
    }