 h1, h2 {
    font-family:'Pridi', serif;
    text-align: center;
    color: darkslateblue;
 }
 img {
    max-height: 340px;
    margin: 5px auto 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px lightslategray;
 }
 main {
    max-width: 95%;
    box-shadow: 0px 0px 10px 5px lightslategray;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Open Sans', sans serif;
    background-color: lightgray;
 }
  section {
    background-color: lightgray;
    border: solid 2px lightslategray;
    padding-bottom: 10px;
 }
  .birth, .birthplace, .length {
    text-align: center;
    padding-bottom: 3px;
 }
  .cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5px;  
 }
 @media only screen and (min-width: 650px) { 
    .cards {
       grid-template-columns: 1fr 1fr;
    }
    img {
       width: 80%;
    }
 }
  @media only screen and (min-width: 900px) { 
    .cards {
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    img {
       width: 80%;
    }
 }
 